<div id="guillotineHolder"></div>
<div id="newCandidate">
	<button onclick="bourreau()">DECAPITER</button>

	<div id="candidateFields">
		<input type="text" id="candidateName" class="inputText" placeholder="Nom du nouveau candidat" value='sarkozy'></input>
		<input type="text" id="guillotineTitle" class="inputText" placeholder="Sous titre" value="et n'oubliez pas d'aller voter"></input>
	</div> 

	<div id="addCandidate">
		<input id="addCandidateButton" class="submit" type="submit" value="Ajouter un candidat">
	</div> 
</div> 






