<div id="guillotineHolder"></div>

<script>





  var width = 0;
  if( typeof( window.innerWidth ) == 'number' ) {
    width = window.innerWidth;
  } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
    width = document.documentElement.clientWidth;
  }





</script>

<button onclick="bourreau()">DECAPITER</button>










